@using LearningApp.Models
@model ArticleDetails
@{
    ViewBag.Title = "CreateArticle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateArticle</h2>
<h4>Article with title @ViewBag.ArticleName is added</h4>

